/***** FOUNDATION OVERRIDES *****/
	
	.off-canvas-content {
		background: none;
	}

	.js-off-canvas-exit {
		background: rgba(0, 40, 85, .9);
	}

	.off-canvas {
		background: #002855;
		color: white;
		font-size: 19px;
	}

/***** SETUP *****/

	body {
		background: #f1f1f1 url("../images/bg-body-strip.png") repeat-x;
		font-family: "Jaldi", sans-serif;
		font-size: 16px;
	}

	.column, .columns {
		padding-right: 0px;
		padding-left: 0px;
	}

	.row {
		background: #fff;
	}

	#left-side {

	}

	@media screen and (max-width: 39.9375em) {
		#right-side {
			
		}
	}

	@media screen and (min-width: 40em) {
		#right-side {
			padding-left: 70px;
		}
	}

/***** 5 COLUMN SET-UP *****/
	/* Creates ability to have 5 columns span the full width of the row. */
	.small-15, .medium-15, .large-15{
	    width:20%;
	}
	.small-25, .medium-25, .large-25{
	    width:40%;
	}
	.small-35, .medium-35, .large-35{
	    width:60%;
	}
	.small-45, .medium-45, .large-45{
	    width:80%;
	}

/***** OBJECTS *****/
	.button {
		font-size: 19px;
		border-radius: 10px;
		background-color: #a07400;
	}

/***** TYPOGRAPHY *****/

	p {
		font-family: "Jaldi", sans-serif;
		font-size: 19px;
		color: #444;
	}

	h1 {
		color: #ac7600;
		font-size: 23px;
		letter-spacing: 0.5px;
		font-weight: 700;
		text-transform: uppercase;
		font-family: "Jaldi", sans-serif;
	}

	h2 {
		font-size: 35px;
		color: #002855;
		padding-top: 15px;
		font-family: "Jaldi", sans-serif;
	}

	h3 {
		font-size: 30px;
		color: #002855;
		padding-top: 15px;
		font-family: "Jaldi", sans-serif;
	}

/***** TOP ROW *****/

	#header-desktop {
		background: none;
		padding-top: 50px;
	}

	#header-mobile {
		background: #002855;
		border-bottom: 5px solid #CC8A00;
		text-align: right;
		color: #fdd26e;
		line-height: 20px;
		vertical-align: middle;
		font-size: 19px;
	}

	#important-links {
		background: none;
		color: #002855;
		font-size: 15px;
		font-weight: 700;
	}

	#important-links ul {
		list-style: none;
		margin-bottom: 0;
	}

	#important-links li {
		display: inline;
		padding-left: 32.5px;
	}

	#search-bar {
		background: none;
		float: right;
	}

	#search-bar input[type=search] {
		width: 300px;
		border: 1px solid #c9c9c9;
	}

	#search-bar input[type=submit] {
		background-color: #bbb;
	}

	#search-button {
		color: #9b9b9b;
		background: #c9c9c9;
		height: 40px;
		width: 40px;
		padding: 8px;
		border: 1px solid #c9c9c9;
		display: inline-block;
		text-align: center;
	}

/***** OFF-CANVAS MENU *****/

	.nav-sc li a{
		color: white;
	}

	.is-accordion-submenu-parent>a:after {
		border-color: white transparent transparent;
	}

	.menu.nested {
		border-left: #CC8A00 solid 3px;
	}

/***** MEGA MENU *****/
	.nav,
	.nav a,
	.nav ul,
	.nav li,
	.nav div,
	.nav form,
	.nav input {
	    margin: 0;
	    padding: 0;
	    border: none;
	    outline: none;
	}
	 
	.nav a { text-decoration: none; }

	.nav .row {
		margin-left: 0;
		margin-right: 0;
	}
	 
	.nav li { list-style: none;}
	.nav {
		width: 100%;
	    display: inline-block;
	    position: relative;
	    cursor: default;
	    z-index: 500;
		border-bottom: 5px solid #ac7600;
		background: #002544;
	}
	 
	.nav > li {
	    display: block;
	    float: left;
		width: 16.66%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		text-align: center;
	}
	.nav > li > a {
	    position: relative;
	    display: block;
	    z-index: 510;
	    height: 54px;
	    padding: 0 20px;
	    line-height: 54px;
	 
	    color: white;
	    text-shadow: 0 0 1px rgba(0,0,0,.35);
	 
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    transition: all .3s ease;
	}
	.nav > li:hover > a {  }
	 
	.nav > li:first-child > a {
	    border-radius: 3px 0 0 3px;
	    border-left: none;
	}
	.nav > li > div {
	    position: absolute;
	    display: block;
	    width: 100%;
	    top: 50px;
	    left: 0;
	 
	    opacity: 0;
	    visibility: hidden;
	    overflow: hidden;
	 
	    background: #ffffff;
	    border-radius: 0 0 3px 3px;
	 
	    -webkit-transition: all .3s ease .15s;
	    -moz-transition: all .3s ease .15s;
	    -o-transition: all .3s ease .15s;
	    -ms-transition: all .3s ease .15s;
	    transition: all .3s ease .15s;
	}
	.nav > li:hover > div {
	    opacity: 1;
	    visibility: visible;
	    overflow: visible;
	}
	.nav .nav-column {
	    float: left;
	    width: 25%;
	    padding: 2.5%;
		background-color: #002544;
		text-align: left;
		border-top: 5px solid #ac7600;
	}
	 
	.nav .nav-column h3 {
	    margin: 20px 0 10px 0;
	    line-height: 18px;
	 
	    font-family: Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    color: #ac7600;
	    text-transform: uppercase;
	}
	 
	.nav .nav-column li a {
	    display: block;
	    line-height: 26px;
	 
	    font-family: Helvetica, Arial, sans-serif;
	    font-size: 13px;
	    color: skyblue;
	}
	 
	.nav .nav-column li a:hover { color: white; }

	#megamenu {
		margin: auto;
		height: 59px;
	}

/***** PAGE TITLES *****/

	/* Small only */
	@media screen and (max-width: 39.9375em) {
		#department-title {
			background-color: #002855;
			padding-top: 5px;
			text-align: center;
		}

		#page-title {
			padding-left: 15px;
			padding-right: 10px;
		}

		#page-content {
			padding-left: 15px;
			padding-right: 10px;
		}
	}

	/* Medium and up */
	@media screen and (min-width: 40em) {
		#department-title {
			padding-top: 30px;
			border-bottom: 2px solid #CCC;
		}

		#page-title {
			padding-top: 25px;
			padding-bottom: 15px;
		}
	}

/***** SIDE NAV *****/

	.side-nav {
		padding-top: 30px;
	}

	.side-nav ul{
		margin-left: 25px;
		margin-right: 25px;
	}

	.side-nav li {
		list-style: none;
		color: #002855;
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid #CCC;
	}

	.side-nav h1 {
		margin-left: 25px;
	}

	.side-nav a {
		color: #002855;
	}
	.side-nav a:hover {
		color: #002855;
		text-decoration: underline;
	}

/***** CONTACT AREA *****/

	#contact-chevron {
		z-index: 999;
		height: 127px;
		width: 100%;
		position: relative;
		top: 127px;
		background-color: #ac7600;
		-webkit-clip-path: polygon(50% 85%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
		clip-path: polygon(50% 85%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
	}

	/* Small only */
	@media screen and (max-width: 39.9375em) {
		#contact-us {
			padding-left: 15px;
		}
	}

	/* Medium and up screens */
	@media screen and (min-width: 40em) {
		#connect-with-heading {
			position: relative;
			top: 127px;
		}
		#contact-us {
			height: 650px;
			padding-top: 100px;
			padding-left: 50px;
			-webkit-clip-path: polygon(100% 13%, 100% 100%, 0 100%, 0 0);
			clip-path: polygon(100% 13%, 100% 100%, 0 100%, 0 0);
		}
		#contact-right-1 {
			height: 650px;
			-webkit-clip-path: polygon(25% 19%, 100% 0, 100% 100%, 0 100%, 0 13%);
			clip-path: polygon(25% 19%, 100% 0, 100% 100%, 0 100%, 0 13%);
		}
		#contact-right-2 {
			height: 650px;
			-webkit-clip-path: polygon(50% 19%, 100% 13%, 100% 100%, 0 100%, 0 13%);
			clip-path: polygon(50% 19%, 100% 13%, 100% 100%, 0 100%, 0 13.3%);
		}
		#contact-right-3 {
			height: 650px;
			-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 13%);
			clip-path: polygon(25% 20%, 100% 0, 100% 100%, 0 100%, 0 13%);
		}
	}

	#contact-us {
		background: #fed16d;
		color: #000;
	}

/***** CHEVRONS *****/

	.chevron-down {
		z-index: 999;
		height: 100px;
		width: 100%;
		position: relative;
		top: 100px;
		background-color: #ac7600;
		-webkit-clip-path: polygon(50% 85%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
		clip-path: polygon(50% 85%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
	}

/***** FOOTERS *****/

	#footer-navigation {
		background-color: #022040;
		height: 325px;
		color: white;
		font-family: 'Jaldi', sans-serif;
		font-size: 17px;
	}

	#belltower {
		background: url("../images/belltower.png") no-repeat;
		min-width: 325px;
		min-height: 325px;
	}

	.footer-nav-list {
		padding-top: 50px;
	}

	#footer-navigation ul{
		list-style: none;
		margin: 0;
	}

	#footer-navigation li{
		padding-bottom: 5px;
	}

	#answer-center-button {
		background-color: #5bc2e7;
		color: #002855;
		font-weight: 700;
	}

	.schoolcraft-footer {
		padding-top: 30px;
		padding-bottom: 30px;
		background: #002855;
		border-top: #CC8A00 solid 7px;
	}

	.schoolcraft-footer h1 {
		font-size: 23px;
		color: #fff;
		text-transform: none;
		font-weight: normal;
	}

	.schoolcraft-footer h2 {
		font-size: 18px;
		color: #fff;
		text-transform: none;
		font-weight: normal;
	}