/***** SETUP *****/

body {
	background: #f1f1f1 url("../images/bg-body-strip.png") repeat-x;
	font-family: "Jaldi", sans-serif;
	font-size: 19px;
}

/* Creates ability to have 5 columns span the full width of the row. */
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15{
    width:20%;
}

.column, .columns {
	padding-right: 0px;
	padding-left: 0px;
}

.row {
	background: #fff;
}

#left-side {

}

#right-side {
	padding-left: 70px;
}

/***** TYPOGRAPHY *****/

p {
	font-family: "Jaldi", sans-serif;
	font-size: 19px;
	color: #444;
}

h1 {
	color: #ac7600;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	color: #002855;
	padding-top: 15px;
}

h3 {
	font-size: 25px;
	color: #002855;
	padding-top: 15px;
}

/***** TOP ROW *****/

#logo-row {
	background: none;
	padding-top: 50px;
}

/***** MEGA MENU *****/
	.nav,
	.nav a,
	.nav ul,
	.nav li,
	.nav div,
	.nav form,
	.nav input {
	    margin: 0;
	    padding: 0;
	    border: none;
	    outline: none;
	}
	 
	.nav a { text-decoration: none; }
	 
	.nav li { list-style: none;}
	.nav {
		width: 100%;
	    display: inline-block;
	    position: relative;
	    cursor: default;
	    z-index: 500;
		border-bottom: 5px solid #ac7600;
		background: #002544;
	}
	 
	.nav > li {
	    display: block;
	    float: left;
		width: 16.66%;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		text-align: center;
	}
	.nav > li > a {
	    position: relative;
	    display: block;
	    z-index: 510;
	    height: 54px;
	    padding: 0 20px;
	    line-height: 54px;
	 
	    color: white;
	    text-shadow: 0 0 1px rgba(0,0,0,.35);
	 
	    -webkit-transition: all .3s ease;
	    -moz-transition: all .3s ease;
	    -o-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	    transition: all .3s ease;
	}
	.nav > li:hover > a {  }
	 
	.nav > li:first-child > a {
	    border-radius: 3px 0 0 3px;
	    border-left: none;
	}
	.nav > li > div {
	    position: absolute;
	    display: block;
	    width: 100%;
	    top: 50px;
	    left: 0;
	 
	    opacity: 0;
	    visibility: hidden;
	    overflow: hidden;
	 
	    background: #ffffff;
	    border-radius: 0 0 3px 3px;
	 
	    -webkit-transition: all .3s ease .15s;
	    -moz-transition: all .3s ease .15s;
	    -o-transition: all .3s ease .15s;
	    -ms-transition: all .3s ease .15s;
	    transition: all .3s ease .15s;
	}
	.nav > li:hover > div {
	    opacity: 1;
	    visibility: visible;
	    overflow: visible;
	}
	.nav .nav-column {
	    float: left;
	    width: 20%;
	    padding: 2.5%;
		background-color: #002544;
		text-align: left;
		border-top: 5px solid #ac7600;
	}
	 
	.nav .nav-column h3 {
	    margin: 20px 0 10px 0;
	    line-height: 18px;
	 
	    font-family: Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    color: #ac7600;
	    text-transform: uppercase;
	}
	 
	.nav .nav-column li a {
	    display: block;
	    line-height: 26px;
	 
	    font-family: Helvetica, Arial, sans-serif;
	    font-size: 13px;
	    color: skyblue;
	}
	 
	.nav .nav-column li a:hover { color: white; }

	#megamenu {
		margin: auto;
	}

/***** PAGE TITLES *****/

#department-title {
	padding-top: 30px;
	border-bottom: 2px solid #CCC;
}

#page-title {
	padding-top: 30px;
	padding-bottom: 15px;
}

/***** SIDE NAV *****/

.side-nav {
	padding-top: 30px;
}

.side-nav ul{
	margin-left: 25px;
	margin-right: 25px;
}

.side-nav li {
	list-style: none;
	color: #002855;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CCC;
}

.side-nav h1 {
	color: #ac7600;
	font-size: 19px;
	font-weight: 700;
	text-transform: uppercase; 
	margin-left: 25px;
}

/***** CHEVRONs *****/

.chevron-down {
	height: 100px;
	width: 100%;
	background-color: #ac7600;
	-webkit-clip-path: polygon(50% 85%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
	clip-path: polygon(50% 85%, 100% 0, 100% 0, 50% 100%, 0 0, 0 0);
}

/***** FOOTERS *****/

.schoolcraft-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #002855;
	
}

.schoolcraft-footer h1 {
	font-size: 23px;
	color: #fff;
	text-transform: none;
	font-weight: normal;
}

.schoolcraft-footer h2 {
	font-size: 18px;
	color: #fff;
	text-transform: none;
	font-weight: normal;
}