<head>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.4/foundation.css" />
	<link rel="stylesheet" type="text/css" href="Main (Home-Inside) Blueprint.css">

</head> 

<body>

	<div id="container">

		<div id="masthead" class="row">#container<br>&nbsp;&nbsp;&nbsp;#masthead</div>

		<nav id="main" class="row">nav#main</nav>

		<div id="content-wrapper" class="row">
			<div id="content-sub" class="column medium-3 small-12">#content-wrapper<br>#content-sub</div>

			<div id="content-main" class="column medium-9 small-12">#content-main</div>

			<div id="content-rows" class="column small-12">#content-rows</div>
		</div>

		<div id="footer-wrapper" class="row column">
			<div id="footer-links" class="row">
				<div class="column small-12">
					#footer-wrapper<br>#footer-links
				</div>
			</div>
			<div id="footer-contact" class="row">
				<div class="column small-12">
					#footer-contact
				</div>
			</div>
			<div id="footer-logos" class="row">
				<div class="column small-12">
					#footer-logos
				</div>
			</div>
		</div>
	</div>

</body>